<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	
	<meta property="og:image" content="http://dl.dropboxusercontent.com/u/2161163/Swingx-0.2-alpha/swinx.png"/>
	
	<title>Swingx | Swing for the fences</title>
	<script type='text/javascript' src='https://ssl-webplayer.unity3d.com/download_webplayer-3.x/3.0/uo/jquery.min.js'></script>
	<script type="text/javascript">
		<!--
		var unityObjectUrl = "http://webplayer.unity3d.com/download_webplayer-3.x/3.0/uo/UnityObject2.js";
		if (document.location.protocol == 'https:')
			unityObjectUrl = unityObjectUrl.replace("http://", "https://ssl-");
		document.write('<script type="text\/javascript" src="' + unityObjectUrl + '"><\/script>');
	-->
</script>
<script type="text/javascript">
	<!--
	var config = {
		width: 960, 
		height: 600,
		params: { enableDebugging:"0" }

	};
	var u = new UnityObject2(config);

	jQuery(function() {

		var $missingScreen = jQuery("#unityPlayer").find(".missing");
		var $brokenScreen = jQuery("#unityPlayer").find(".broken");
		$missingScreen.hide();
		$brokenScreen.hide();

		u.observeProgress(function (progress) {
			switch(progress.pluginStatus) {
				case "broken":
				$brokenScreen.find("a").click(function (e) {
					e.stopPropagation();
					e.preventDefault();
					u.installPlugin();
					return false;
				});
				$brokenScreen.show();
				break;
				case "missing":
				$missingScreen.find("a").click(function (e) {
					e.stopPropagation();
					e.preventDefault();
					u.installPlugin();
					return false;
				});
				$missingScreen.show();
				break;
				case "installed":
				$missingScreen.remove();
				break;
				case "first":
				break;
			}
		});
		u.initPlugin(jQuery("#unityPlayer")[0], "Swingx-0.2-alpha.unity3d");
	});
-->
</script>

<div >
	<link rel="Helmet2" href="http://bit.ly/Swingx"/>
</div>

</head>
<body ng-app="chat">
	<div class="containera" style="padding: 10px;">
		
		<div class="row">

			<div class="col-md-9">
				<div class="panel panel-primary">
					<div class="panel-heading">
						Swingx
					</div>
						<div class="panel-body">
							
						<div class="content">
							<div id="unityPlayer">
								<div class="missing">
									<a href="http://unity3d.com/webplayer/" title="Unity Web Player. Install now!">
										<img alt="Unity Web Player. Install now!" src="http://webplayer.unity3d.com/installation/getunity.png" width="193" height="63" />
									</a>
								</div>
								<div class="broken">
									<a href="http://unity3d.com/webplayer/" title="Unity Web Player. Install now! Restart your browser after install.">
										<img alt="Unity Web Player. Install now! Restart your browser after install." src="http://webplayer.unity3d.com/installation/getunityrestart.png" width="193" height="63" />
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel-footer">
					contact me on twitter: <a href="https://twitter.com/_enqvist">https://twitter.com/_enqvist</a>

					<div class="row">
							
						<div class="col-sm-6">
		
							<div class="panel panel-success" ng-controller="Blog">
								<div class="panel-heading">
									<div class="panel-title">
										Updates
									</div>
									
								</div>
								<ul class="list-group">
									<li class="list-group-item" ng-cloak ng-repeat="post in posts | orderBy:'$index':true">
										<div class=""> 
											<p> {{post.content}} </p>							
										</div>
									</li>
								</ul>	
								
							</div>
						</div>
						<div class="col-sm-6">
		
							<div class="panel panel-primary"  ng-controller="Chat">
								<div class="panel-heading">
									<div class="panel-title">
										Comments / chat
										<form class="form" ng-submit="addMessage()">
											<div class="form-group">
												<label class="sr-only" for="uname">your name</label>
												<input id="uname" class="form-control input-sm" type="text" ng-model="username">
											</div>

											<div class="form-group">
												<label class="sr-only" for="mail">your name</label>
												<input id="mail" class="form-control input-sm" type="email" ng-model="email" placeholder="Email.. (optioanal)">
											</div>

											<div class="form-group">
												<label class="sr-only" for="message">message</label>
												<textarea id="message" class="form-control" type="text" ng-model="message" rows="3" placeholder="Message..."></textarea>
											</div>

											<button class="btn btn-success btn-sm" type="submit">
												<i class="icon-reply"> Send</i>
											</button>
										</form>
									</div>
								</div>
								<div >
									<ul class="list-group">
										<li class="list-group-item" ng-cloak ng-repeat="message in messages | orderBy:'$index':true">
											<span class="label label-primary">{{message.from}} </span> <div> {{message.content}} </div>
										</li>
										<a id="bottom-chat"></a>
									</ul>	
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="panel panel-warning">
					<div class="panel-heading">
						instructions
					</div>
					<ul class="list-group">
						<li class="list-group-item"> Go left with "A" or "left-arrow"</li>
						<li class="list-group-item"> Go right with  "D" or "right-arrow"</li>
						<li class="list-group-item"> Aim up with "W" or "up-arrow" </li>
						<li class="list-group-item"> Aim down with "S" or "down-arrow"</li>
						<li class="list-group-item"> Jump with "Space" </li>
						<li class="list-group-item"> Grip and Swing with "Left Control" or "Return/enter" </li>
						<li class="list-group-item"> zoom in and out by pressing "Left shift"</li>
						<li class="list-group-item"> change the length of the rope by Scrolling</li>
						<li class="list-group-item"> To complete a level you need to find all the red circles!</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.5/angular.min.js"></script>
	<script src="//cdn.firebase.com/v0/firebase.js"></script>
	<script src="//cdn.firebase.com/libs/angularfire/0.3.0/angularfire.min.js"></script>
	<script type="text/javascript">
		angular.module('chat', ['firebase'])
		.controller('Chat', 
			['$scope', 'angularFire','$location', '$anchorScroll', 'angularFireCollection',
			function($scope, angularFire,$location, $anchorScroll, angularFireCollection) {
				
				var ref = new Firebase('https://swingx.firebaseio.com/chat');
				
				$scope.messages = angularFireCollection(ref);
				
				$scope.username = 'Guest' + Math.floor(Math.random()*101);
				
				$scope.addMessage = function() {
					$scope.messages[ref.push().name()] = {
						from: $scope.username, content: $scope.message, email: $scope.email
						
					};
					$scope.message = "";
				}
				
			}])
		.controller('Blog', ['$scope', 'angularFire', 'angularFireCollection',
			function($scope, angularFire, angularFireCollection) {
				
				var ref = new Firebase('https://swingx.firebaseio.com/blog');
				
				$scope.posts = angularFireCollection(ref);

				
			}]);
		
	</script>

	<link href="//netdna.bootstrapcdn.com/bootswatch/3.0.1/cyborg/bootstrap.min.css" rel="stylesheet">

</body>
</html>


